/* 
SYSTEMS
    SPACING
    0.4 / 0.8 / 1.2 / 1.6 / 1.8 / 2 / 2.4 / 2.8 / 3.2 / 3.6 / 4 / 4.4 / 4.8

    SIZING
    0.8 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3.2 / 4.4

    FAMILY
    'Quicksand', sans-serif;

    WEIGHT
    Ligth: 300
    Regular: 400
    Medium: 500
    SemiBold: 600
    Bold: 700

    COLORS ON ROOT
    
    SHADOWS
    0 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.3);

*/

/* GENERAL STYLES */
:root {
  --bg: #f3f3f3;
  --base: #4d5d73;
  --main: #008aff;
  --mainHov: #0071e4;
  --green: #3fce78;
  --greenHov: #38bf6e;
  --yelloworange: #ffb74b;
  --yelloworangeHov: #e2a03d;
  --red: #ff4b4b;
  --redHov: #ce3939;
  --text-primary: #333;
  --text-placeholder: #9c9c9c;

  --menu-border: #4bdefb;
}

.view--list {
  padding: 2.4rem;
  overflow: scroll;
}

.event__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.event {
  padding: 1.2rem;
  background-color: #fff;
  border: solid 1px #c5c5c5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.event__date {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
}

.event__date--month {
  background-color: var(--base);
  color: #fff;
}

.event__date--day {
  background-color: #ffd2d2;
  width: 7.2rem;
}

.event__name {
  font-size: 1.6rem;
}

.event__time {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  margin-left: auto;
}
