/* 
SYSTEMS
    SPACING
    0.4 / 0.8 / 1.2 / 1.6 / 1.8 / 2 / 2.4 / 2.8 / 3.2 / 3.6 / 4 / 4.4 / 4.8

    SIZING
    0.8 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3.2 / 4.4

    FAMILY
    'Quicksand', sans-serif;

    WEIGHT
    Ligth: 300
    Regular: 400
    Medium: 500
    SemiBold: 600
    Bold: 700

    COLORS ON ROOT
    
    SHADOWS
    0 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.3);

*/

/* GENERAL STYLES */
:root {
  --bg: #f3f3f3;
  --base: #4d5d73;
  --main: #008aff;
  --mainHov: #0071e4;
  --green: #3fce78;
  --yelloworange: #ffb74b;
  --red: #ff4b4b;
  --text-primary: #333;
  --text-placeholder: #9c9c9c;

  --menu-border: #4bdefb;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}
/* ------------- */
.nav {
  width: 100%;
  background-color: var(--base);
}

.sidebar {
  grid-row: 1 / -1;
  height: 100vh;
  background-color: var(--base);
  width: 100%;
  position: relative;
}

.heading__container {
  height: 6.4rem;
  background: linear-gradient(
    90deg,
    rgba(105, 160, 253, 0.8) 41.38%,
    rgba(75, 223, 251, 0.8) 100%
  );
  border-bottom: 1px solid var(--menu-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading--welcome {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 0;
}

.sidebar__item__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar__item__wrapper {
  background: linear-gradient(
    180deg,
    rgba(105, 160, 253, 0.8) 41.38%,
    rgba(75, 223, 251, 0.8) 100%
  );
}

.sidebar__item {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.2rem;
  background-color: var(--base);
  border-bottom: 1px solid var(--menu-border);
  font-size: 1.8rem;
  cursor: pointer;
}

.sidebar__item.active {
  margin-left: 1.2rem;
}

.link--leave,
.link--leave:link,
.link--leave:visited {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  transition: all 0.3s;
}

.link--leave:active,
.link--leave:hover {
  color: var(--menu-border);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.main--application {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.header--application {
  grid-column: 2;
  width: 100%;
  height: 6.4rem;
  display: flex;
}

.nav--toolbar {
  padding: 2.4rem;
  display: flex;
  align-items: center;
}

.btn--add {
  margin-left: auto;
  background-color: var(--green);
  height: 4.4rem;
}

.btn--delete {
  background-color: var(--red);
}

.btn--edit {
  background-color: var(--yelloworange);
}

.mainapp {
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.mainapp__tools {
  display: flex;
  align-items: center;
}

.calendar__tools__container {
  gap: 0.8rem;
}

.date__selector {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.date__selector span {
  font-size: 2.4rem;
  font-weight: 500;
}

.switcher__container {
  display: flex;
  background-color: #bdcbe2;
  border-radius: 4px;
  margin: 0 auto;
}

.btn--switch {
  background: transparent;
}

.btn--switch.active {
  background-color: var(--main);
}

.view__container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.4rem;
}

.view--calendar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
}

.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.weekdays__wrapper {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weekday {
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days__wrapper {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* padding: 0.2rem; */
}

.days__wrapper div {
  border: solid 1px var(--bg);
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
}

.prev__date {
}

.current__date {
}

.next__date {
}

.view--list {
}

.event__info__container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.event__info__container .btn__container--horizontal {
  margin-left: auto;
}

.heading--event__info {
  font-size: 1.8rem;
  text-align: left;
}

.info__title {
  font-size: 1.6rem;
  font-weight: 500;
}

.info {
  font-weight: 300;
}
