/* 
SYSTEMS
    SPACING
    0.4 / 0.8 / 1.2 / 1.6 / 1.8 / 2 / 2.4 / 2.8 / 3.2 / 3.6 / 4 / 4.4 / 4.8

    SIZING
    0.8 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3.2 / 4.4

    FAMILY
    'Quicksand', sans-serif;

    WEIGHT
    Ligth: 300
    Regular: 400
    Medium: 500
    SemiBold: 600
    Bold: 700

    COLORS ON ROOT
    SHADOWS
*/

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* GENERAL STYLES */
:root {
  --bg: #d9d9d9;
  --base: #4d5d73;
  --main: #008aff;
  --mainHov: #0071e4;
  --green: #3fce78;
  --yelloworange: #ffb74b;
  --red: #ff4b4b;
  --text-primary: #333;
  --text-placeholder: #9c9c9c;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text-primary);
}

main {
  background-image: url("./img/mainbg.png");
  opacity: 75%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* HELPER CLASSES */
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hidden {
  display: none;
}

/* REUSABLE CLASSES */
.heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.4rem;
}

.heading--primary {
  font-size: 4rem;
  color: #fff;
}

.heading--secondary {
  font-size: 3.2rem;
  margin-bottom: 1.8rem;
}

.heading--form {
  margin-bottom: 2.4rem;
}

.form__container {
  background-color: rgba(217, 217, 217, 0.95);
  width: 32rem;
  padding: 3.2rem;
  gap: 2.4rem;
  border-radius: 12px;
  backdrop-filter: blur(3px);
  box-shadow: 0 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.3);
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.input {
  width: 100%;
}

.input__title {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.input__field {
  border: none;
  padding: 0.8rem 1.2rem;
  width: 100%;
  margin-bottom: 1.4rem;
}

.input__field::placeholder {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: var(--text-placeholder);
}

.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  padding: 0.8rem 2.4rem;
  border-radius: 4px;
  background-color: var(--main);
  color: #fff;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:active,
.btn:hover {
  background-color: var(--mainHov);
  cursor: pointer;
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--main);
  transition: all 0.3s;
}

.link:active,
.link:hover {
  color: var(--mainHov);
  cursor: pointer;
}
